<h3>Agriculture</h3>
<canvas id = "agriculture_canvas" style = "width:70%; float:left; margin-bottom: 1em; margin-right:1em;"></canvas>

<%= link_to 'Profilo Climatico (PDF)', 'assets/profilo.pdf' %>

<div style = "clear:both"></div>

<canvas id = "agriculture_canvas2" style = "width:70%; float:left; margin-bottom: 1em; margin-right:1em;"></canvas>
<%= link_to 'Buone Pratiche (PDF)', 'assets/pratiche.pdf' %>

<hr style = "clear:both;"/>