<h3>Biodiversity</h3>

<h4>
Verde urbano e rete ecologica locale</h4>

<p>
Occorre infine considerare le possibili interazioni tra le politiche di sviluppo del verde urbano e quelle relative alla rete ecologica locale, analizzata in uno studio preliminare volto a preservare la biodiversità degli ambienti naturali e seminaturali presenti, principalmente nella campagna e nella collina di Bologna. <p>

<p>
Nel territorio bolognese sono presenti siti appartenenti alla rete ecologica europea Natura2000 (SIC-ZPS) , tra cui una parte Parco Regionale Gessi Bolognesi e Calanchi dell'Abbadessa   e la Golena San Vitale e Golena del Lippo: il sito è localizzato nella periferia nord e comprende un tratto di circa 2 km del fiume Reno, con le relative golene.  </p>

<%= image_tag "agriculture/mappa_della_rete_ecologia_del_comune_di_bologna.JPG", :style => "width:90%;" %>

<strong>Incremento e riqualificazione del verde urbano</strong>

<p>La struttura della rete ecologica locale è stata analizzata in uno studio preliminare volto a preservare la biodiversità degli ambienti naturali e seminaturali presenti, principalmente nella campagna e nella collina di Bologna. Nel corso della definizione della rete ecologica per Bologna, si è constatata la stretta correlazione tra i principi e le esigenze funzionali al consolidamento della rete, da un lato, e il disegno del sistema del verde proposto per la città, dall’altro, quasi a confermare la naturale integrazione dei temi strettamente ambientali propri di una rete ecologica nel quadro più articolato che caratterizza il sistema del verde di una realtà complessa come quella del territorio bolognese. Il completamento e il rafforzamento della rete ecologica, in particolare nell’area urbana interessata da isole di calore, darà occasione di realizzare interventi di greening che permetteranno di migliorare il clima urbano.
</p>

<%= link_to 'Profilo Climatico (PDF)', 'assets/profilo.pdf' %>
