<h3>City</h3>
<strong>Uso del suolo e infrastrutture (<%= link_to 'Profilo Climatico', 'assets/profilo.pdf' %>)</strong>

<p>Il territorio urbanizzato del Comune di Bologna è passato dai 19,35 Km2 del 1951 ai 47,74 Km2 del 2003 (di cui 4,25 rappresentano la città antica murata), pari al 34% dell’intera superficie comunale. In 50 anni il suolo urbanizzato è cresciuto mediamente di oltre il 200%, andando ad occupare per circa 20% il terreno pianeggiante ancora disponibile.</p>

<p>
La fase di grande e veloce espansione della città comincia a rallentare all'inizio degli anni '90, con l'affermarsi di nuove politiche rivolte a qualificare diversamente l'uso del suolo in un processo di sempre minore consumo di territorio rurale a fronte di una ristrutturazione interna della città.</p>

<p>Se dal 1981 al 1989 si rileva un incremento del territorio urbanizzato di circa 562 ettari con una media di circa 70 
ettari l'anno (confrontabile con la media di 68 ettari l'anno del decennio 1971-1981), nei 14 anni dal 1989 al 2003 il consumo medio annuo è calato a una media di circa 19 ettari l'anno, con un consumo di 272 ettari nei 14 anni.</p>

<%= image_tag "city/uso_del_suolo_2008.JPG", :style => "width:90%;" %>
