<h3>Disaster</h3>
<canvas id = "disaster_canvas" style = "width:70%; float:left; margin-bottom: 1em; margin-right:1em;"></canvas>
<%= link_to 'Profilo Climatico (PDF)', 'assets/profilo.pdf' %>
<hr style = "clear:both;"/>
