<h3>Water</h3>
<strong>Consumi di acqua e rischio carenza idrica</strong>

<p>All’interno dell’area comunale di Bologna, il servizio acquedottistico risulta fortemente connotato da un contesto di “area vasta”, in quanto sono evidenti le opportunità e le necessità di collegamenti ed integrazioni, soprattutto in relazione alle fonti idriche di approvvigionamento. Il servizio acquedottistico serve una popolazione dell’ordine dei 760.000 abitanti e fattura volumi superiori a 65 Mm3/anno. 
</p>

<p>
Rispetto ai 94 Mm3 prelevati per alimentare il sistema acquedottistico gestito da Hera BO (circa 760.000 abitanti serviti), i volumi fatturati nel triennio ammontano complessivamente a circa 71 Mm3/anno, pari a circa il 75% dei prelievi complessivi.
</p>

<%= image_tag "water/consumi_idrici_procapite_totale.JPG", :style => "width:90%;" %>
<%= image_tag "water/consumo_domestico_procapite.JPG", :style => "width:90%;" %>