<%= render 'shared/admin_nav' %>

<h3>Moderate Accepted Tweets</h3>

<%= form_tag moderate_actions_path, :class => "moderation", :method => :put do %>
  <%= hidden_field :reject_tweets, true %>
  <%= render 'reject_table' %>
<% end %>