<%= render 'shared/admin_nav' %>

<h3>Moderate Rejected Tweets</h3>

<%= form_tag moderate_actions_path, :class => "moderation", :method => :put do %>
  <%= render 'accept_table' %>
  <%= submit_tag 'Accept selected' %>
<% end %>