// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  
ul.badge_set { display:block; margin:0 auto;   }
ul.badge_set li { display:inline-block; margin:0.5em; text-align: center; }
img#blueap_logo, ul.badge_set li img { -moz-opacity: 0.50;
  -khtml-opacity: 0.50;
  opacity: 0.50;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
}
.bubble { position: absolute;
  width: 50%;
  padding: 0px;
  background: #FFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  z-index: 100;
  float: right;
  right: 0px;
  top: 10%;
}
.bubble div.bubble_links { margin-bottom:0.2em; padding:5px; float:right; }
.bubble div.bubble_links a { text-decoration:none; font-size:0.7em; display:inline-block; font-style:italic; }
.bubble h3 { width: 94%; padding: 3%; margin: 0em; }
.bubble:after {
  content: "";
  position: absolute;
  top: 40%;
  left: -14px;
  border-style: solid;
  border-width: 11px 15px 11px 0;
  border-color: transparent #FFF;
  display: block;
  width: 0;
  z-index: 1;
}

.bubble.response { top: 64%; right: 2%; }
.bubble.response:after { border-width: 15px 0px 15px 20px;
  top: 50%;
  left: initial;
  right: -3%; 
}

.bubble.response textarea { width: 94%;
  margin: 3% auto;
  display: block; 
  border-radius: 0.4em;
  height: 4em; font-family: 'Varela Round', sans-serif; font-size:1.1em; }
.bubble.response a { 
  margin-bottom: 0.5em;
  margin-right: 1em;
  float: right;
  background-color: #eee;
  padding: 0.2em;
  text-decoration: none;
  border-radius: 0.3em; 
}

.bubble.response a:hover { color:white; background-color: silver; }
