<!DOCTYPE html>
<html>
<head>
  <title>Play:BlueAp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<div class ="wrapper">
  <header>
  <h1>Play:BLUEAP</h1>
</header>
<%= yield %>
</div>

</body>
</html>
